* {
	font-size: 20px;
}
button {
	width: 100%;
	outline: none;
	margin-top: 10px;
	padding: 8px;
	font-size: 20px;
	border: none;
	border-radius: 2px;
	background: rgb(208, 100, 208);
	cursor: pointer;
}

p {
	margin: 0;
}

input {
	padding: 6px;
}

.flex {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
